/*
 * Copyright (c) 2015 Robert Lukierski.
 * Copyright (c) 2013-2014 Linaro Ltd.
 * Copyright (c) 2013-2014 Hisilicon Limited.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License version 2 as
 *  publishhed by the Free Software Foundation.
 */

/dts-v1/;
#include "hisi-3518.dtsi"

/ {
    model = "Hisilicon Hi3518 Camera";
    compatible = "hisilicon,hi3518";

    chosen {
        bootargs = "console=ttyAMA0,115200 earlyprintk";
    };
};

&timer01 {
    status = "okay"; 
};

&uart0 {
    status = "okay";
};

&uart1 {
    status = "okay";
};

&uart2 {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&gpio2 {
    status = "okay";
};

&gpio3 {
    status = "okay";
};

&gpio4 {
    status = "okay";
};

&gpio5 {
    status = "okay";
};

&gpio6 {
    status = "okay";
};

&gpio7 {
    status = "okay";
};

&gpio8 {
    status = "okay";
};

&gpio9 {
    status = "okay";
};

&gpio10 {
    status = "okay";
};

&gpio11 {
    status = "okay";
};

&wdt {
    status = "okay";
};

&dmac {
    status = "okay";
};

&spi0 {
    status = "okay";
};

&spi1 {
    status = "okay";
};

&ethernet {
    status = "okay";
};

&mdio {
    status = "okay";
};

&usb_ehci {
    status = "okay";
};

&usb_ohci {
    status = "okay";
};

&ir {
    status = "okay";
};

&i2c {
    status = "okay";
    
    eeprom: eeprom@50 
    { 
        compatible = "atmel,24c08"; 
        reg = <0x50>; 
        pagesize = <16>; 
    };
};

&sdio {
    status = "okay";
};