/*
 * Copyright (c) 2015 Robert Lukierski.
 * Copyright (c) 2013-2014 Linaro Ltd.
 * Copyright (c) 2013-2014 Hisilicon Limited.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License version 2 as
 *  publishhed by the Free Software Foundation.
 */

/dts-v1/;
#include "hisi-3518.dtsi"

/ {
    model = "Hisilicon Hi3518 Camera";
    compatible = "hisilicon,hi3518";

    chosen {
        bootargs = "console=ttyAMA0,115200 earlyprintk";
    };
};

&timer01 {
    status = "okay";
};

&uart0 {
    status = "okay";
};
